.container_div {
  padding-bottom: 1.2em;
  width: 100%;
  margin-top: 4%;
}
.container_form {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.container_form p {
  font-size: large;
  font-weight: bold;
  margin-top: 4px;
}

.container_mat {
  padding: 1px solid;
  width: 57%;
  text-align: center;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #000;
  outline: 0;
}
.container_qtd {
  width: 7%;
  margin-right: 10%;
  padding: 1px solid;
  text-align: center;
  margin-right: 0;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #000;
}
.container_vlr {
  text-align: center;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #000;
}
.container_form button {
  background-color: #000;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  max-height: 40px;
}
