.message {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 2em;
}
.success {
  color: #09601e;
  background-color: #fff;
  border-color: #c3e6cb;
}
.error {
  color: #f50921;
  background-color: #fff;
  border-color: #f5f6cb;
}
